<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New PIN</title>
    <link rel="stylesheet" href="../../static/css/crud/modificar_pin_validar.css">
    <link rel="icon" href="../../static/imagenes/icono-pestaña.png" type="image/png">
    
    <!--Infografia:-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


</head>  
<body>
    <header>
        <nav id="presentacion">
            <img src="../../static/imagenes/header-icon.png" alt="" id = "icon-header">
            <a id = "titulo-header" href="{{ url_for('catalogo') }}"  target="_self">Regresar</a>
        </nav>
    </header>

    <main>
    <h1>Bienvenido de nuevo {{ usuario }}..</h1>
    <br>
    <p id="indicacion">Ya validamos tu usuario. Por favor, ingresa tu nuevo PIN</p>
    <br><br>

    <form action="{{ url_for('modificar_pin') }}" method="POST">
        <section class="contenedor-grupo">
        
            <section class="contenedor-input">
                <p>PIN</p>
                <input type="text" name="pin" placeholder="Ingresa tu PIN" required minlength="4" maxlength="4" inputmode="numeric" value="{{ request.form.pin or '' }}" id="ingresar_datos_campo">
            </section>

            <section class="contenedor-input">
                <p>Confirmar PIN</p>
                <input type="text" name="confirmar_pin" placeholder="Confirma tu nuevo PIN" required minlength="4" maxlength="4" inputmode="numeric" value="{{ request.form.confirmar_pin or '' }}" id="ingresar_datos_campo">
            </section>

        </section>

        <br><br>

        <p class="mensaje_error">{{ error }}</p>

        <input type="submit" value="Actualizar PIN" id="boton-enviar">
    </form>
</main>


    
</body>
</html>