<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
    <link rel="stylesheet" href="../static/css/catalogo.css">
    <link rel="icon" href="../static/imagenes/icono-pestaña.png" type="image/png">

    <!--Infografia:-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


    <!--PROXIMO POMODORO

    -->

</head>  
<body>
    <header>
        <nav class="presentacion">
            <img src="../static/imagenes/header-icon.png" alt="" class = "icon-header">
            <h2 id = "titulo-header">Catalogo virtual EPS</h2>
        </nav>

        <nav class ="presentacion">
            <a href="{{ url_for('gestion_usuario') }}" id="usuario">{{ usuario }}</a>
            <img src="../static/imagenes/icon-login-usuario.png" alt="" class = "icon-header">
        </nav>
    </header>

    <br><br>
    <h2 class="bienvenida">Medicamentos disponibles</h2>

<main>

    <section class="fila-medicamentos">

        {% for medicamento in medicamentos %}

    <nav class="medicamento">

        <img src="{{ url_for('static', filename='imagenes/medicamentos/' ~ medicamento.nombre_medicamento ~ '/' ~ medicamento.imagen_card) }}" class="imagen-medicamento">

        <a class="nombre-medicamento" href="{{ url_for('ver_medicamento', id=medicamento.id) }}">{{ medicamento.nombre_medicamento }}</a>

        <p class="
            {% if medicamento.stock > 500 %}
                cantidad-mayor-500
            {% elif medicamento.stock > 200 %}
                cantidad-menor-500
            {% else %}
                cantidad-menor-200
            {% endif %}
        ">
            {{ medicamento.stock }}
        </p>

    </nav>

        {% endfor %}

    </section>

</main>
</body>