<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metformina</title>
    <link rel="stylesheet" href="../../static/css/medicamentos.css/metformina.css">
    <link rel="icon" href="../../static/imagenes/icono-pestaña.png"type="image/png">

    <!--Infografia:-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!--PROXIMO POMODORO:
    
    -AGREGAR TRANSICIONES
    
    -->


</head>  
<body>
    <header>
        <nav id="presentacion">
            <img src="../../static/imagenes/header-icon.png" alt="" id = "icon-header">
            <a href="{{ url_for('catalogo') }}" target="_self" id = "titulo-header"><h2>Catalogo virtual EPS</h2></a>
        </nav>
    </header>


    <main>
        <!--Aqui se muestra la imagen e informacion del medicamento-->
        <section id = "contenedor-grande">
            <section class = "contenedor-informacion-medicamento">
                <h1 class ="titulo-informacion">INFORMACION</h1>
                <p class="texto-informativo"><strong class = "titulo-texto-informativo">Descripcion:</strong><br>Tratamiento para la diabetes tipo 2.</p>
                <br>
                <p class="texto-informativo"><strong class = "titulo-texto-informativo">Fecha de vencimiento:</strong><br>02-Diciembre-2029</p>
                <br>
                <p class="texto-informativo"><strong class = "titulo-texto-informativo">Cantidad de pastas:</strong><br>30 unidades</p>
                <br>
                <p class="texto-informativo"><strong class = "titulo-texto-informativo">Stock:</strong></p>
                <p id="stock">129</p>
                <br><br>

                <!--Botones para pedir a domicilio o punto EPS-->
                <form action="{{ url_for('envio') }}" method="GET">
                    <input type="hidden" name="medicamento" value="Metformina">
                    <input type="hidden" name="tipo_entrega" value="Recoger EPS">
                    <button id="boton-recoger">Recoger EPS</button>
                </form>
                <br><br>
                <form action="{{ url_for('envio') }}" method="GET">
                    <input type="hidden" name="medicamento" value="Metformina">
                    <input type="hidden" name="tipo_entrega" value="Domicilio">
                    <button id="boton-domicilio">Solicitar domicilio</button>
                </form>

            </section>
            <section class = "contenedor-informacion-medicamento">
                <h1 class="titulo-informacion">Medicamento:</h1>
                <img src="../../static/imagenes/medicamentos/Metformina/metfor-segunda-imagen.png" class="imagen-medicamento" height="400px" width="300px">
                <br>
                <h1 class="titulo-informacion">Empaque:</h1>
                <img src="../../static/imagenes/medicamentos/Metformina/metfor-tercera-imagen.png" class="imagen-medicamento" height="300px" width="250px">
            </section>

        </section>

    </main>

</body>
